<a data-tile="clickable" class="bx--tile bx--tile--clickable card" tabindex="0" href="#" >
    {{with .media}}
        <div class="media"></div>
    {{end}}

    <div class="bx--grid--full-width " style="{{with .media}} padding-top: 1rem;{{end}}" >
        <div class="bx-row content" style="">
            <div class="bx--col" style="">
                <h1 class="heading">Top 3 javascript frameworks and some more random text</h1>
            </div>
            <div class="bx--col copy-col" >
                <h4 class="copy">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pretium bibendum urna.</h4>
            </div>
            <div class="bx--col cta-col">
                <h5 class="bx--link cta">Book</h5>
            </div>
        </div>

    </div>

</a>
