<a data-tile="clickable" class="bx--tile bx--tile--clickable pictogram-card" tabindex="0" href="{{if in .link "@"}}mailto:{{.link}}{{else}}{{.link}}{{end}} " >
    <div class="bx--grid--full-width "  >
        <div class="bx-row content" style="">
            <div class="bx--col" style="">
                <h1 class="heading">{{.name}} </h1>
            </div>
            <div class="bx--col cta-col">
                <svg class="bx--link cta" width="26" height="26" viewBox="0 0 32 32">
                    {{safeHTML .svg}}
                </svg>
                <svg width="20" height="20" viewBox="0 0 32 32" class="external-icon">
                    <path d="M26,28H6a2.0027,2.0027,0,0,1-2-2V6A2.0027,2.0027,0,0,1,6,4H16V6H6V26H26V16h2V26A2.0027,2.0027,0,0,1,26,28Z"/>
                    <polygon points="20 2 20 4 26.586 4 18 12.586 19.414 14 28 5.414 28 12 30 12 30 2 20 2"/>
                </svg>

            </div>
        </div>

    </div>

</a>
