{{ define "main" }}
<section id="portfolio-list-section" >
    <div class="bx--grid" >
        <div class="bx--row">
            <div class="bx--col-lg-2 ">
                <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h5>
            </div>
            <div class="bx--col">
                <div class="bx--grid--condensed">
                    <div class="bx--row">
                        <div class="bx--col-lg-4 bx--col-md-4">
                            {{- partial "components/card.html" (dict "ctx" . "media" false) -}}
                        </div>
                        <div class="bx--col-lg-4 bx--col-md-4">
                            {{- partial "components/card.html" (dict "ctx" . "media" false) -}}
                        </div>
                        <div class="bx--col-lg-4 bx--col-md-4">
                            {{- partial "components/card.html" (dict "ctx" . "media" false) -}}
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
{{ end }}

