<!DOCTYPE html>
<html lang="{{.Site.Language}}">
    {{- partial "head.html" (dict "ctx" . "forPrint" false) -}}

    <body >
    {{- partial "header.html" . -}}
    <div class="cds--content">
        <div class="cds--css-grid cds--css-grid--condensed ">
            <div class="cds--css-grid-column ">
                <div class=" ">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
            </div>

        </div>
        <p>aici</p>
    </div>
    </body>

</html>
