{{define "main"}}
<section id="contact-section">
    <div class="bx--grid">
        <div class="bx--row">
            <div class="bx--col-lg-2 content-sidenote">
                <h5>Aliquam nunc enim</h5>
                <br>
                <p>Donec nibh neque, auctor id auctor eu, faucibus vitae orci? <br>Morbi sodales elit porttitor lacus bibendum scelerisque.</p>
                <br>
            </div>
            <div class="bx--col-lg">

                <div class="bx--grid--condensed">
                    <div class="bx--row">
                        {{range $.Site.Params.ownerSocialLinks}}
                        <div class="bx--col-lg bx--col-md-2 bx--col-sm-4">
                            {{- partial "components/pictogram-card.html" (dict "ctx" . "name" ((print "Via " .name) | title) "link" .link "svg" .path) -}}
                        </div>
                        {{end}}
                        <div class="bx--col-lg-max bx--col-md-8">
                            <div class="bx--tile form-wrapper" >
                                <h4 class="heading">Via Message</h4>
                                <form >
                                    <div class="bx--grid" >
                                        <div class="bx--row">
                                            <div class="bx--col-md">
                                                <div class="bx--form-item">
                                                    <label for="text-input-3" class="bx--label">Name</label>
                                                    <input id="text-input-3" type="text" required
                                                           class="bx--text-input bx--text-input--light"
                                                           placeholder="ex. Juan">
                                                </div>
                                            </div>
                                            <div class="bx--col-md">
                                                <div class="bx--form-item">
                                                    <label for="text-input-4" class="bx--label">Email</label>
                                                    <input id="text-input-4" type="email" required
                                                           class="bx--text-input bx--text-input--light"
                                                           placeholder="ex. juan@gmail.com">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="bx--form-item" style="padding-top: 0.5rem;">
                                        <label for="text-area-2" class="bx--label">Message</label>
                                        <textarea id="text-area-2" class="bx--text-area bx--text-area--light" required
                                                  rows="6" cols="50" placeholder="ex.  Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus..."></textarea>
                                    </div>
                                    <div class="bx--form-item">
                                        <button class="bx--btn bx--btn--primary" type="submit">Vivamus ultricies maximus</button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{{end}}
