{{ $allProjects:= where .ctx.Site.Pages "Section" "portfolio"   }}
{{ $projects:=(where $allProjects ".IsPage" true).Reverse}}
{{ $listPage:=(first 1 (where $allProjects ".IsNode" true)) }}
{{ $paginator:=.ctx.Paginate $projects 3}}
<section id="portfolio-list-section" >
{{if .onHome}}
    <div class="bx--grid" >
        <div class="bx--row">
            <div class="bx--col-lg-2 ">
                <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h5>
            </div>
            <div class="bx--col">
                <div class="bx--grid--condensed">
                    <div class="bx--row bx--row--condensed">
                        {{range $i,$project:=first 3 $projects}}
                        <div class="bx--col-lg-6" style="padding-top: 0;padding-bottom: 0;">
                            {{- partial "components/card.html"
                            ( dict
                            "ctx" .
                            "media" $project.Params.Media
                            "heading" $project.Params.Title
                            "copy" $project.Params.Description
                            "link" $project.Permalink
                            "ctaText" "Explore"
                            "index" false
                            )
                            -}}
                        </div>
                        {{end}}
                        {{range $listPage}}
                        <div class="bx--col-lg-6 bx--col-md-8">
                            {{- partial "components/card.html"
                            ( dict
                            "ctx" .
                            "heading" "Explore all my projects"
                            "copy" .Params.Description
                            "link" .Permalink
                            "ctaText" "Read More"
                            "index" true
                            )
                            -}}
                        </div>
                        {{end}}

                    </div>


                </div>
            </div>
        </div>
    </div>
{{else}}
<div class="bx--grid" >
    <div class="bx--row">
        <div class="bx--col-lg-2 ">
            <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h5>
        </div>
        <div class="bx--col">
            <div class="bx--grid--condensed">
                <div class="bx--row">
                    {{range $i,$project:=$paginator.Pages}}
                    <div class="bx--col-lg-12">
                        {{- partial "components/card-in-card.html"
                        (dict "ctx" $project
                        "inverse" (modBool $i 2)

                        ) -}}
                    </div>
                    {{end}}
                </div>
                <div class="bx--row">
                    <div class="bx--col" ></div>

                    <div class="bx--col" >
                        {{- partial "components/pagination" (dict "ctx" . "paginator" $paginator) -}}
                    </div>
                    <div class="bx--col" ></div>
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}
</section>
