<header class="bx--header" role="banner" aria-label="IBM Platform Name" data-header>
    <a class="bx--skip-to-content" href="#main-content" tabindex="0">Skip to main content</a>
    <button class="bx--header__menu-trigger bx--header__action" aria-label="Open menu" title="Open menu"
            data-navigation-menu-panel-label-expand="Open menu" data-navigation-menu-panel-label-collapse="Close menu"
            data-navigation-menu-target="#navigation-menu-m6ibyfeacg">
        <svg focusable="false" preserveAspectRatio="xMidYMid meet" style="will-change: transform;"
             xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="bx--navigation-menu-panel-collapse-icon"
             width="20" height="20" viewBox="0 0 32 32">
            <path d="M24 9.4L22.6 8 16 14.6 9.4 8 8 9.4 14.6 16 8 22.6 9.4 24 16 17.4 22.6 24 24 22.6 17.4 16 24 9.4z"></path>
        </svg>
        <svg focusable="false" preserveAspectRatio="xMidYMid meet" style="will-change: transform;"
             xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="bx--navigation-menu-panel-expand-icon"
             width="20" height="20" viewBox="0 0 20 20">
            <path d="M2 14.8H18V16H2zM2 11.2H18V12.399999999999999H2zM2 7.6H18V8.799999999999999H2zM2 4H18V5.2H2z"></path>
        </svg>
    </button>
    <a class="bx--header__name" href="/" title="DB" >
        <img src="/imgs/profile.jpg" width="24px" style="border-radius: 50%;margin-right: 1rem">
        DB
    </a>

    <nav class="bx--header__nav" aria-label="Platform Name" data-header-nav>
        <ul class="bx--header__menu-bar" aria-label="Platform Name">
            {{ $currentPage := . }}
            {{ range $i,$item:=.Site.Menus.main }}
                {{ $menu_item_url := .URL | relLangURL }}
                {{ $page_url:= $currentPage.RelPermalink | relLangURL }}
                <li>
                    <a class="bx--header__menu-item {{ if eq $menu_item_url $page_url }} bx--header__menu-item--current {{ end }}" href="{{ $item.URL | relLangURL }}" tabindex="0">
                        {{ i18n $item.Name | title}}
                    </a>
                </li>
            {{end}}
            {{range $i,$item:= .Site.Menus.contact}}
                {{ $menu_item_url := .URL | relLangURL }}
                {{ $page_url:= $currentPage.RelPermalink | relLangURL }}
                <li>
                    <a class="bx--header__menu-item {{ if eq $menu_item_url $page_url }} bx--header__menu-item--current {{ end }}" href="{{ $item.URL | relLangURL }}" tabindex="0">
                        {{ i18n $item.Name | title}}
                    </a>
                </li>
            {{end}}

<!--            <li class="bx&#45;&#45;header__submenu " data-header-submenu>-->
<!--                <a class="bx&#45;&#45;header__menu-item bx&#45;&#45;header__menu-title" aria-haspopup="true"-->
<!--                   aria-expanded="false" href="javascript:void(0)" tabindex="0">-->
<!--                    More-->
<!--                    <svg class="bx&#45;&#45;header__menu-arrow" width="12" height="7" aria-hidden="true">-->
<!--                        <path d="M6.002 5.55L11.27 0l.726.685L6.003 7 0 .685.726 0z"/>-->
<!--                    </svg>-->
<!--                </a>-->
<!--                <ul class="bx&#45;&#45;header__menu" aria-label="L1 link 3">-->
<!--                    {{ range $i,$item:=.Site.Menus.more }}-->
<!--                    <li role="none">-->
<!--                        <a class="bx&#45;&#45;header__menu-item " href="{{ $item.URL | relLangURL }}" tabindex="-1">-->
<!--                          <span class="bx&#45;&#45;text-truncate&#45;&#45;end">-->
<!--                            {{ i18n $item.Name | title}}-->
<!--                          </span>-->
<!--                        </a>-->
<!--                    </li>-->
<!--                    {{end}}-->
<!--                </ul>-->
<!--            </li>-->
        </ul>
    </nav>
    <div class="bx--header__global">
        {{range $.Site.Params.ownerSocialLinks}}
        <a href="{{if in .link "@"}}mailto:{{.link}}{{else}}{{.link}}{{end}} ">
            <button class="bx--header__menu-trigger bx--header__action" aria-label="{{.tooltip}}"
                    title="{{.tooltip}}">
                <svg id="ss" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="24" height="24" fill="fff"
                     opacity="1">
                    {{safeHTML .path}}
                </svg>

            </button>
        </a>

        {{end}}

    </div>
</header>

<div class="bx--navigation" id="navigation-menu-m6ibyfeacg"
     hidden data-navigation-menu>
    <div class="bx--navigation-section">
        <ul class="bx--navigation-items">
            {{ range $i,$item:=.Site.Menus.main }}
            {{ $menu_item_url := .URL | relLangURL }}
            {{ $page_url:= $currentPage.RelPermalink | relLangURL }}
            <li class="bx--navigation-item bx--navigation-item--icon {{ if eq $menu_item_url $page_url }} bx--navigation-item--active {{ end }} ">
                <a class="bx--navigation-link " href="{{ $item.URL | relLangURL }}">
                    <div class="bx--navigation-icon">
                        <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
                             aria-hidden="true">
                            {{safeHTML $item.Params.svg}}
                        </svg>
                    </div>
                    {{ i18n $item.Name | title}}
                </a>
            </li>
            {{end}}
            {{ range $i,$item:=.Site.Menus.contact }}
            {{ $menu_item_url := .URL | relLangURL }}
            {{ $page_url:= $currentPage.RelPermalink | relLangURL }}
            <li class="bx--navigation-item bx--navigation-item--icon {{ if eq $menu_item_url $page_url }} bx--navigation-item--active {{ end }}">
                <a class="bx--navigation-link " href="{{ $item.URL | relLangURL }}">
                    <div class="bx--navigation-icon">
                        <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
                             aria-hidden="true">
                            {{safeHTML $item.Params.svg}}
                        </svg>
                    </div>
                    {{ i18n $item.Name | title}}
                </a>
            </li>
            {{end}}
        </ul>
    </div>
<!--    <div class="bx&#45;&#45;navigation-section">-->
<!--        <ul class="bx&#45;&#45;navigation-items">-->
<!--            <li-->
<!--                    class="bx&#45;&#45;navigation-item bx&#45;&#45;navigation-item&#45;&#45;active bx&#45;&#45;navigation-item&#45;&#45;icon">-->
<!--                <a class="bx&#45;&#45;navigation-link" href="javascript:void(0)">-->
<!--                    <div class="bx&#45;&#45;navigation-icon">-->
<!--                        <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"-->
<!--                             aria-hidden="true">-->
<!--                            <path-->
<!--                                    d="M8.24 25.14L7 26.67a14 14 0 0 0 4.18 2.44l.68-1.88a12 12 0 0 1-3.62-2.09zm-4.05-7.07l-2 .35A13.89 13.89 0 0 0 3.86 23l1.73-1a11.9 11.9 0 0 1-1.4-3.93zm7.63-13.31l-.68-1.88A14 14 0 0 0 7 5.33l1.24 1.53a12 12 0 0 1 3.58-2.1zM5.59 10L3.86 9a13.89 13.89 0 0 0-1.64 4.54l2 .35A11.9 11.9 0 0 1 5.59 10zM16 2v2a12 12 0 0 1 0 24v2a14 14 0 0 0 0-28z"/>-->
<!--                        </svg>-->
<!--                    </div>-->
<!--                    Item link-->
<!--                </a>-->
<!--            </li>-->
<!--            <li class="bx&#45;&#45;navigation-item bx&#45;&#45;navigation-item&#45;&#45;icon">-->
<!--                <a class="bx&#45;&#45;navigation-link" href="javascript:void(0)">-->
<!--                    <div class="bx&#45;&#45;navigation-icon">-->
<!--                        <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"-->
<!--                             aria-hidden="true">-->
<!--                            <path-->
<!--                                    d="M8.24 25.14L7 26.67a14 14 0 0 0 4.18 2.44l.68-1.88a12 12 0 0 1-3.62-2.09zm-4.05-7.07l-2 .35A13.89 13.89 0 0 0 3.86 23l1.73-1a11.9 11.9 0 0 1-1.4-3.93zm7.63-13.31l-.68-1.88A14 14 0 0 0 7 5.33l1.24 1.53a12 12 0 0 1 3.58-2.1zM5.59 10L3.86 9a13.89 13.89 0 0 0-1.64 4.54l2 .35A11.9 11.9 0 0 1 5.59 10zM16 2v2a12 12 0 0 1 0 24v2a14 14 0 0 0 0-28z"/>-->
<!--                        </svg>-->
<!--                    </div>-->
<!--                    Item link-->
<!--                </a>-->
<!--            </li>-->
<!--            <li class="bx&#45;&#45;navigation-item bx&#45;&#45;navigation-item&#45;&#45;icon">-->
<!--                <a class="bx&#45;&#45;navigation-link" href="javascript:void(0)">-->
<!--                    <div class="bx&#45;&#45;navigation-icon">-->
<!--                        <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"-->
<!--                             aria-hidden="true">-->
<!--                            <path-->
<!--                                    d="M8.24 25.14L7 26.67a14 14 0 0 0 4.18 2.44l.68-1.88a12 12 0 0 1-3.62-2.09zm-4.05-7.07l-2 .35A13.89 13.89 0 0 0 3.86 23l1.73-1a11.9 11.9 0 0 1-1.4-3.93zm7.63-13.31l-.68-1.88A14 14 0 0 0 7 5.33l1.24 1.53a12 12 0 0 1 3.58-2.1zM5.59 10L3.86 9a13.89 13.89 0 0 0-1.64 4.54l2 .35A11.9 11.9 0 0 1 5.59 10zM16 2v2a12 12 0 0 1 0 24v2a14 14 0 0 0 0-28z"/>-->
<!--                        </svg>-->
<!--                    </div>-->
<!--                    Item link-->
<!--                </a>-->
<!--            </li>-->
<!--            <li class="bx&#45;&#45;navigation-item bx&#45;&#45;navigation-item&#45;&#45;icon">-->
<!--                <div class="bx&#45;&#45;navigation__category">-->
<!--                    <button class="bx&#45;&#45;navigation__category-toggle" aria-haspopup="true" aria-expanded="false"-->
<!--                            aria-controls="category-1-menu">-->
<!--                        <div class="bx&#45;&#45;navigation-icon">-->

<!--                            <svg aria-hidden="true" width="20" height="20" xmlns="http://www.w3.org/2000/svg"-->
<!--                                 viewBox="0 0 32 32">-->
<!--                                <path-->
<!--                                        d="M8.24 25.14L7 26.67a14 14 0 0 0 4.18 2.44l.68-1.88a12 12 0 0 1-3.62-2.09zm-4.05-7.07l-2 .35A13.89 13.89 0 0 0 3.86 23l1.73-1a11.9 11.9 0 0 1-1.4-3.93zm7.63-13.31l-.68-1.88A14 14 0 0 0 7 5.33l1.24 1.53a12 12 0 0 1 3.58-2.1zM5.59 10L3.86 9a13.89 13.89 0 0 0-1.64 4.54l2 .35A11.9 11.9 0 0 1 5.59 10zM16 2v2a12 12 0 0 1 0 24v2a14 14 0 0 0 0-28z"/>-->
<!--                            </svg>-->
<!--                        </div>-->
<!--                        <div class="bx&#45;&#45;navigation__category-title">-->
<!--                            L1 category-->
<!--                            <svg aria-hidden="true" width="20" height="20" xmlns="http://www.w3.org/2000/svg"-->
<!--                                 viewBox="0 0 32 32">-->
<!--                                <path d="M16 22L6 12l1.414-1.414L16 19.172l8.586-8.586L26 12 16 22z"/>-->
<!--                            </svg>-->
<!--                        </div>-->
<!--                    </button>-->
<!--                    <ul id="category-1-menu" class="bx&#45;&#45;navigation__category-items">-->
<!--                        <li class="bx&#45;&#45;navigation__category-item">-->
<!--                            <a class="bx&#45;&#45;navigation-link" href="javascript:void(0)">-->
<!--                                Nested link-->
<!--                            </a>-->
<!--                        </li>-->
<!--                        <li-->
<!--                                class="bx&#45;&#45;navigation__category-item bx&#45;&#45;navigation__category-item&#45;&#45;active">-->
<!--                            <a class="bx&#45;&#45;navigation-link" href="javascript:void(0)">-->
<!--                                Nested link-->
<!--                            </a>-->
<!--                        </li>-->
<!--                        <li class="bx&#45;&#45;navigation__category-item">-->
<!--                            <a class="bx&#45;&#45;navigation-link" href="javascript:void(0)">-->
<!--                                Nested link-->
<!--                            </a>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </div>-->
</div>
