<header class="fabrx-header header-center bg-white sticky-lg-top">
    <div class="container">
        <nav class="navbar navbar-expand-lg has-header-inner">
            <a class="navbar-brand" >
                <div class="fabrx-avatar md"><img src="/imgs/profile.jpg" alt="{{i18n "avatarAltTranslation" }}"></div>
            </a>

            <div class="fabrx-header-links d-flex ms-auto order-0 order-lg-2" >
                {{range .Site.Params.ownerSocialLinks}}
                <a href="{{.link}}" class="ms-4 ms-md-4"
                   data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ (i18n .tooltip)}}" data-animation="true">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        {{safeHTML .path}}
                    </svg>
                </a>
                {{end}}

            </div>

            <button class="navbar-toggler pe-0 ms-2 ms-md-3" type="button" data-bs-toggle="collapse"
                    data-bs-target="#menu-4" aria-controls="menu-4" aria-expanded="false"
                    aria-label="Toggle navigation">
                <svg data-name="Icon 01" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path data-name="Icon Color"
                          d="M.75,9.5a.751.751,0,0,1-.1-1.494L.75,8h16a.75.75,0,0,1,.1,1.493l-.1.007Zm0-8A.75.75,0,0,1,.648.007L.75,0h16a.75.75,0,0,1,.1,1.493l-.1.007Z"
                          transform="translate(3.25 7.25)" fill="#212121"></path>
                </svg>
            </button>
            <div class="collapse navbar-collapse" id="menu-4">

                <ul class="navbar-nav  pt-3 pt-lg-0">
                    {{ range $i,$item:=.Site.Menus.main }}
                    <li class="nav-item {{if eq $item.URL (substr (print "/" $.File.Dir) 0 -1)}} active {{end}}">
                    <a class="nav-link font-weight-bold " href="{{ $item.URL | relLangURL }}">
                        {{ upper (i18n $item.Name) }}
                    </a>
                    </li>
                    {{end}}
                    {{range .Site.Menus.contact}}
                    <li class="nav-item">
                        <a class="nav-link font-weight-bold" href="{{.URL|relLangURL}}">
                            {{upper ( i18n .Name )}}
                        </a>
                    </li>
                    {{end}}
                    <li class="nav-item dropdown">
                        <a class="nav-link font-weight-bold" href="#" role="button" id="dropdownMenuLink1" data-bs-toggle="dropdown" aria-expanded="false">
                            <span>{{upper (i18n "morePagesTranslation")}}</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="8" height="4.444" viewBox="0 0 8 4.444">
                                <path data-name="Icon Color" d="M3.686.13a.444.444,0,0,1,.672.579l-.043.05L1.073,4,4.314,7.241a.445.445,0,0,1,.043.579l-.043.05a.445.445,0,0,1-.579.043l-.05-.043L.13,4.314a.445.445,0,0,1-.043-.579l.043-.05Z" transform="translate(0 4.444) rotate(-90)" fill="#212121"/>
                            </svg>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink1">
                            {{ range $i,$item:=.Site.Menus.more }}
                            <li><a class="dropdown-item " href="{{ $item.URL | relLangURL }}">{{ upper (i18n $item.Name) }}</a></li>
                            {{end}}
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>
