<head>
    <meta charset="UTF-8">
    <meta name="description" content="Fabrx">
    <meta name="keywords" content="Fabrx">
    <meta name="author" content="Fabrx">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Fabrx - Layouts</title>
    <link href="../assets/images/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <!-- Fabrx External CSS -->
    {{ $styles:=slice
        (resources.Get "assets/vendor/swiper/swiper-bundle.min.css")
        (resources.Get "assets/vendor/flatpickr/dist/flatpickr.min.css")
        (resources.Get "assets/vendor/simplebar/dist/simplebar.min.css")
        (resources.Get "assets/css/fabrx-styles.min.css")
    }}

    {{range $styles}}
        <link href="{{( . | minify | fingerprint).Permalink}}" rel="stylesheet" type="text/css" media="all">
    {{end}}
    {{
        $scripts:=slice
        (resources.Get "assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js")
        (resources.Get "assets/js/html5.min.js")
        (resources.Get "assets/vendor/lodash/lodash.min.js")
        (resources.Get "assets/vendor/flatpickr/dist/flatpickr.min.js")
        (resources.Get "assets/vendor/swiper/swiper-bundle.min.js")
        (resources.Get "assets/vendor/isotope-layout/dist/isotope.pkgd.min.js")
        (resources.Get "assets/vendor/isotope-packery/packery-mode.pkgd.min.js")
        (resources.Get "assets/vendor/masonry-layout/dist/masonry.pkgd.min.js")
        (resources.Get "assets/vendor/simplebar/dist/simplebar.min.js")
        (resources.Get "assets/vendor/sticky-js/dist/sticky.min.js")
        (resources.Get "assets/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js")
        (resources.Get "assets/vendor/purecounterjs/dist/purecounter.js")
        (resources.Get "assets/js/fabrx-scripts.js")
    }}
    {{range $scripts}}
    <script defer src="{{.Permalink}}"></script>
    {{end}}
</head>
