<nav class="navbar navbar-expand-md navbar-dark container">
    <div class="container-fluid">
        <a class="navbar-brand font-bolder" href="/">dan@site :~# |</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                {{ range $i,$item:=.Site.Menus.main }}
                <li class="nav-item {{if eq $item.URL (substr (print "/" $.File.Dir) 0 -1)}} active {{end}}">
                <a class="nav-link font-bolder" href="{{ $item.URL | relLangURL }}">
                    {{ i18n $item.Name |title}}
<!--                    <span class="sr-only">(current)</span>-->
                </a>
                </li>
                {{end}}

                {{range .Site.Menus.contact}}
                <li class="nav-item">

                    <a class="nav-link font-bolder" href="{{.URL|relLangURL}}">
                        {{i18n .Name | title}}
<!--                        <span class="sr-only">(current)</span>-->
                    </a>
                </li>
                {{end}}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        More
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        {{range .Site.Menus.more}}
                        <li>
                            <a class="dropdown-item" href="{{.URL|relLangURL}}">{{i18n .Name |title}}</a>
                        </li>
                        {{end}}
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item p-0">
                    <div class="row text-center">
                        {{range .Site.Params.ownerSocialLinks}}
                        <div class="col">
                            <a class="nav-link p-0 text-success" target="_blank" rel="noopener noreferrer" href="{{.link}}">{{safeHTML .class}}</a>
                        </div>
                        {{end}}
                    </div>

                </li>

            </ul>
        </div>

    </div>
</nav>