<div class="bx--form-item">

<div class="bx--dropdown__wrapper bx--dropdown__wrapper--inline">
    <span id="example-ap3t91wclrj-label" class="bx--label {{ if not .IsTranslated }}bx--label--disabled{{end}}">Language</span>
    <div data-dropdown data-dropdown-type="inline"  data-value class="{{ if not .IsTranslated }}bx--tooltip__trigger bx--tooltip--a11y bx--tooltip--top {{end}} bx--dropdown bx--dropdown--inline bx--dropdown--up bx--dropdown--light {{ if not .IsTranslated }}bx--dropdown--disabled{{end}}">
        <button class="bx--dropdown-text " aria-haspopup="true" aria-expanded="false" aria-controls="example-ap3t91wclrj-menu" aria-labelledby="example-ap3t91wclrj-label example-ap3t91wclrj-value" type="button"
                {{ if not .IsTranslated }}disabled aria-disabled="true" {{end}}>
            <span class="bx--dropdown-text__inner" id="example-ap3t91wclrj-value">{{.Site.Language.LanguageName}}</span>
            {{ if .IsTranslated }}<span class="bx--dropdown__arrow-container">
            <svg focusable="false" preserveAspectRatio="xMidYMid meet" style="will-change: transform;" xmlns="http://www.w3.org/2000/svg" class="bx--dropdown__arrow" width="16" height="16" viewBox="0 0 16 16" aria-hidden="true"><path d="M8 11L3 6 3.7 5.3 8 9.6 12.3 5.3 13 6z"></path></svg>{{end}}
        </span>


        </button>
        {{ if not .IsTranslated }}
        <span class="bx--assistive-text">Suspendisse fermentum est ac commodo elementum.</span>
        {{end}}
        {{ if .IsTranslated }}
        <ul class="bx--dropdown-list" id="example-ap3t91wclrj-menu" role="menu" tabindex="0" id="example-ap3t91wclrj-menu" aria-hidden="true" wh-menu-anchor="left" aria-labelledby="example-ap3t91wclrj-label">
            {{ range .Translations }}
            <li data-option data-value="all" class="bx--dropdown-item" title="{{ .Language.LanguageName }}">
                <a class="bx--dropdown-link" href="{{ .Permalink }}" tabindex="-1" role="menuitemradio" aria-checked="true" >{{ .Language.LanguageName }}</a>
            </li>
            {{end}}
        </ul>
        {{end}}

    </div>

</div>
</div>


