{{define "main"}}
<div class="bx--row resource-card-group feature-card-group">
    <div class="Grid-module--column--3U35z bx--no-gutter-sm bx--col-md-4 bx--col-lg-4">
        <div class="bx--card">
            <div class="bx--aspect-ratio bx--aspect-ratio--1x1">
                <div class="bx--aspect-ratio--object"><a
                        href="https://github.com/carbon-design-system/carbon-for-ibm-dotcom/wiki/Roadmap"
                        class="bx--tile bx--tile--clickable" target="_blank"><h5 class="bx--resource-card__subtitle">
                    View</h5><h4 class="bx--resource-card__title">Roadmap</h4>
                    <div class="bx--resource-card__icon--img"><img
                            src="/ef5f18518c9400b4f8f61c77e91542f4/automobile.svg" alt="Automobile Pictogram"></div>
                    <div class="bx--resource-card__icon--action">
                        <svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg"
                             fill="currentColor" aria-label="Open resource" width="20" height="20" viewBox="0 0 32 32"
                             role="img">
                            <path d="M26,28H6a2.0027,2.0027,0,0,1-2-2V6A2.0027,2.0027,0,0,1,6,4H16V6H6V26H26V16h2V26A2.0027,2.0027,0,0,1,26,28Z"></path>
                            <path d="M20 2L20 4 26.586 4 18 12.586 19.414 14 28 5.414 28 12 30 12 30 2 20 2z"></path>
                        </svg>
                    </div>
                </a></div>
            </div>
        </div>
    </div>
    <div class="Grid-module--column--3U35z bx--no-gutter-sm bx--col-md-4 bx--col-lg-4">
        <div class="bx--resource-card">
            <div class="bx--aspect-ratio bx--aspect-ratio--1x1">
                <div class="bx--aspect-ratio--object"><a
                        href="https://github.com/carbon-design-system/carbon-for-ibm-dotcom/issues/5888"
                        class="bx--tile bx--tile--clickable" target="_blank"><h5 class="bx--resource-card__subtitle">
                    View</h5><h4 class="bx--resource-card__title">Release schedule</h4>
                    <div class="bx--resource-card__icon--img"><img src="/827327901a546381c6a1a670d14543dc/calendar.svg"
                                                                   alt="Calendar Pictogram"></div>
                    <div class="bx--resource-card__icon--action">
                        <svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg"
                             fill="currentColor" aria-label="Open resource" width="20" height="20" viewBox="0 0 32 32"
                             role="img">
                            <path d="M26,28H6a2.0027,2.0027,0,0,1-2-2V6A2.0027,2.0027,0,0,1,6,4H16V6H6V26H26V16h2V26A2.0027,2.0027,0,0,1,26,28Z"></path>
                            <path d="M20 2L20 4 26.586 4 18 12.586 19.414 14 28 5.414 28 12 30 12 30 2 20 2z"></path>
                        </svg>
                    </div>
                </a></div>
            </div>
        </div>
    </div>
    <div class="Grid-module--column--3U35z bx--no-gutter-sm bx--col-md-4 bx--col-lg-4">
        <div class="bx--resource-card">
            <div class="bx--aspect-ratio bx--aspect-ratio--1x1">
                <div class="bx--aspect-ratio--object"><a href="https://cognitive-app.slack.com/archives/C2PLX8GQ6"
                                                         class="bx--tile bx--tile--clickable" target="_blank"><h5
                        class="bx--resource-card__subtitle">Join</h5><h4 class="bx--resource-card__title">
                    carbon-for-ibm-dotcom</h4>
                    <div class="bx--resource-card__icon--img"><img
                            src="/a68cd80f8bbb10cb3137a09bbe24a79c/slack_pictogram.svg" alt="Slack Pictogram"></div>
                    <div class="bx--resource-card__icon--action">
                        <svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg"
                             fill="currentColor" aria-label="Open resource" width="20" height="20" viewBox="0 0 32 32"
                             role="img">
                            <path d="M26,28H6a2.0027,2.0027,0,0,1-2-2V6A2.0027,2.0027,0,0,1,6,4H16V6H6V26H26V16h2V26A2.0027,2.0027,0,0,1,26,28Z"></path>
                            <path d="M20 2L20 4 26.586 4 18 12.586 19.414 14 28 5.414 28 12 30 12 30 2 20 2z"></path>
                        </svg>
                    </div>
                </a></div>
            </div>
        </div>
    </div>
</div>
{{end}}

