{{define "main"}}
<section class="row">

  <div class="col">
    <div class="text-center">
      <h3 class="font-bolder">{{humanize  (i18n "contactPageSubheaderTextTranslation")}}</h3>
        <br>
<p>
        {{safeHTML  (i18n "contactPageSubheaderMailToTextTranslation" (dict "Count" 2 "emailToShow" (index $.Site.Params.ownerEmail 0))) }}
      </p>
      <p>{{humanize (i18n "contactPageSocialTextTranslation")}} {{humanize (i18n "contactPageFollowTextTranslation")}}</p>
      <ul class="navbar-nav " style="padding: 0 25% 0 25%">
        <li class="nav-item p-0">
          <div class="row text-center">
            {{range .Site.Params.ownerSocialLinks}}
            <div class="col">
              <a class="nav-link p-0 social-link" target="_blank" rel="noopener noreferrer" href="{{.link}}">{{safeHTML .class}}</a>
            </div>
            {{end}}
          </div>

        </li>

      </ul>




    </div>
    <div class="pt-5">
      <form id="contact-form" class="contact-form col-lg-8 mx-lg-auto" method="post" action="">
        <h2 class="text-center font-bolder mb-4">{{(i18n "contactFormTitleTextTranslation" | title)}}</h2>
        <div class="form-row">
          <div class="form-group col mb-3">
            <label class="form-label" for="cname">{{i18n "contactFormNameFieldTextTranslation" | title}}</label>
            <input type="text" class="form-control" id="cname" name="name" minlength="2" required="" aria-required="true" placeholder="{{ i18n "contactFormNameFieldTextTranslation" |title}}" >
          </div>
          <div class="form-group col mb-3">
            <label class="form-label" for="cemail">{{i18n "contactFormEmailFieldTextTranslation" | title}}</label>
            <input type="email" class="form-control" id="cemail" name="email" required="" aria-required="true" placeholder="{{i18n "contactFormEmailFieldTextTranslation" | title}}" >
          </div>
          <div class="form-group col-12 mb-3">
            <label class="form-label" for="cmessage">{{humanize (i18n "contactFormMessageFieldTextTranslation" | title)}}</label>
            <textarea class="form-control" id="cmessage" name="message" rows="10" required="" aria-required="true" placeholder="{{humanize (i18n "contactFormMessageFieldTextTranslation" | title)}}" ></textarea>
          </div>
          <div class="form-group col-12 d-grid">
            <button type="submit" class="btn btn-block my-4 btn-warning font-bolder ">{{humanize (i18n "contactFormSendButtonTextTranslation")}}</button>
          </div>
        </div>
      </form>
    </div>

  </div>

</section>
{{end}}
