<!-- must receive an Project object-->
<!--https://getbootstrap.com/docs/4.3/utilities/stretched-link/-->
        <div class="card project-item">
            <img class="card-img-top img-fluid mx-auto" loading="lazy" src="{{ .Params.media }}"
                 alt="{{.Params.Title}} presentation media">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title font-bolder">{{.Params.Title}}</h5>
                <p class="card-text">{{print (substr .Plain 0 300) "..."}}</p>
                <a href="{{.Permalink}}" class=" btn btn-block btn-outline-warning font-bolder stretched-link mt-auto">Find more about this project</a>
            </div>
        </div>
